@font-face {
  font-family: "OpenSans";
  src: url(local);
  src: url("../fonts/opensans.woff") format("woff");
  src: url("../fonts/opensans.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url(local);
  src: url("../fonts/opensansbold.woff") format("woff");
  src: url("../fonts/opensansbold.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: "OpenSans";
  src: url(local);
  src: url("../fonts/opensanslight.woff") format("woff");
  src: url("../fonts/opensanslight.woff2") format("woff2");
  font-weight: light;
}
