@import "font.scss";
@import "global.scss";
@import "variables.scss";
@import "blocks/main-nav.scss";
@import "blocks/promo.scss";
@import "blocks/btn.scss";
@import "blocks/features.scss";
@import "blocks/research.scss";
@import "blocks/page-footer.scss";
@import "blocks/contacts.scss";
@import "blocks/tariffs.scss";
@import "blocks/photo-feed.scss";
@import "blocks/photo-post.scss";
@import "blocks/like-count.scss";
@import "blocks/user-posting.scss";
@import "blocks/contest.scss";
@import "blocks/fio.scss";
@import "blocks/achievments.scss";
@import "blocks/form-contacts.scss";
@import "blocks/system-choice.scss";
@import "blocks/review-message.scss";
@import "blocks/inner-footer.scss";
@import "blocks/slider.scss";
@import "blocks/filters.scss";
@import "blocks/icon.scss";
@import "blocks/inner-footer.scss";
@import "blocks/main-nav.scss";
@import "blocks/reviews.scss";
@import "blocks/social.scss";
@import "blocks/system.scss";
@import "blocks/page-header.scss";
