.contest__form {
  text-align: left;
  padding: 20px;
}

.contest__title {
  color: $pink;
  text-transform: uppercase;
  line-height: 18px;
  text-align: center;
}

.contest input[type="text"],
.contest input[type="tel"],
.contest input[type="email"],
.contest textarea {
  font-family: inherit;
  color: inherit;
  font-size: 18px;
  border: 2px solid #e5e5e5;
  width: 280px;
  padding: inherit;;
}

.contest input[type="text"]:hover,
.contest input[type="tel"]:hover,
.contest input[type="email"]:hover,
.contest textarea:hover {
  border-color: #283645;
}

.contest input[type="text"]:focus,
.contest input[type="tel"]:focus,
.contest input[type="email"]:focus,
.contest textarea:focus {
  border-color: $pink;
}

.contest__submit p {
  text-transform: uppercase;
}

.contest__submit span {
  color: $pink;
}
