.download {
  background-color: #1d2631;
  padding: 20px;
}

.download ul {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.download__text {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 27px;
  color: white;
}
