.features {
  font-size: 24px;
  color: #283645;
  background-color: #ffffff;
}

.features__items {
  background-color: #f2f2f2;
}

.features__h2 {
  font-size: 18px;
  line-height: 10px;
}

.features__text {
  font-size: 14px;
  line-height: 24px;
}

.features__title {
  text-align: center;
  font-weight: 400;
}

.features__item {
  margin-bottom: 37px;
}
