.filters {
  position: relative;
  input[type=radio] {
    display: none;
  }
}
.filter-controls {
  margin-bottom: 10px;
  text-align: center;
  label {
    display: inline-block;
    width: 47px;
    height: 47px;
    margin: 0 3px;
    background-repeat: no-repeat;
    background-position: center;
  }
    .filter1 {
      background-image: url("/img/icon-editor-crop.svg");
    }
    .filter2 {
      background-image: url("/img/icon-editor-fill.svg");
    }
    .filter3 {
      background-image: url("/img/icon-editor-contrast.svg");
    }


}
#filter-1:checked ~ .filter-controls label[for="filter-1"],
#filter-2:checked ~ .filter-controls label[for="filter-2"],
#filter-3:checked ~ .filter-controls label[for="filter-3"] {
  color: pink;
}
