.icon {
  background-position: center;
  background-repeat: no-repeat;
}

.icon-copyright img {
  width: 27px;
  height: 35px;
}

.icon-heart {
  position: absolute;
  width: 14px;
  height: 14px;
  left: 0;
  top: 4px;
  width: 13px;
  height: 13px;
  background-image: url("../img/icon-heart.svg");
}

.icon-allowed {
  background-image: url("../img/icon-yes.svg");
}

.icon-disabled {
  background-image: url("../img/icon-no.svg");
}

.icon--crop {
  left: 30px;
  background-image: url("../img/icon-editor-crop.svg");
}

.icon--fill {
  left: 120px;
  background-image: url("../img/icon-editor-fill.svg");
}

.icon--contrast {
  left: 200px;
  background-image: url("../img/icon-editor-contrast.svg");
}

@media (min-width: $tablet-width) {
  .icon-heart {
    left: 98px;
  }

  .icon--crop {
    left: 10px;
    top: 4px;
  }

  .icon--fill {
    left: 4px;
  }

  .icon--contrast {
    left: 4px;
  }
}
