.like-count {
  position: relative;
  padding-left: 31px;
  font-size: 12px;
  line-height: 24px;
  color: #d22856;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .like-count {
    margin-left: auto;
    padding-right: 31px;
    padding-left: 0;
  }
}
