.page-header {
  position: relative;
  height: 730px;
  background: #283645 url("../img/bg-back-mobile@1x.jpg") 50% 0 no-repeat;
}

@media (min-width: $tablet-width) {
  .page-header {
  background-size: 1200px auto;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    background-size: cover;
    height: 835px;
  }

  .page-header__logo {
    align-content: center;
  }
}
