.page-header {
  background-color: #1d2631;
}

.page-header a {
  text-decoration: none;
  background-color: #1d2631;
}

.menu-toggler {
  background-image: url("/img/icon-menu-cross.svg");
  display: block;
  width: 20px;
  height: 20px;
}
