.page-footer__title {
  font-size: 24px;
  font-weight: light;
  line-height: normal;
}

.page-footer__wrapper {
  width: 280px;
  margin: 0 auto;
}

.page-footer__wrapper--index {
  display: none;
}

.page-footer__wrapper--inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 38px;
  margin-top: 38px;
}

.page-footer p {
  line-height: 18px;
}

.page-footer__map {
  position: relative;
  overflow: hidden;

  &::before {
    position: absolute;
    z-index: 2;
    content: "";
    background: url("../img/bg-triangle-white-footer.svg") top left no-repeat;
    width: 100%;
    height: 8%;
    background-size: 100% 100%;
    top: 0;
    left: 0;
  }
}

.map {
  width: 100%;
}

.page-footer__copyright {
  display: flex;
  align-items: flex-end;
}

.page-footer__copyright p {
  margin-right: 13px;
}

.page-footer__social {
  margin: 30px auto;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    width: 620px;
    margin: 0 auto;
  }

  .page-footer__title {
    font-size: 40px;
  }

  .page-footer__contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .page-footer__wrapper--inner {
    flex-direction: row;
  }

  .page-footer__wrapper--index {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 38px;
    margin-top: 38px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: 940px;
    margin: 0 auto;
  }

  .page-footer__title {
    font-size: 50px;
  }

  .page-footer__wrapper--index {
    margin-top: 68px;
    margin-bottom: 68px;
  }

  .page-footer__copyright p {
    font-size: 18px;
  }
}
