.photo-feed__promo {
  padding-top: 50px;
  padding-left: 20px;
}

.photo-feed__title {
  width: 132px;
  font-size: 12px;
  font-weight: bold;
  line-height: 24px;
  color: white;
  background-color: $pink;
  text-transform: uppercase;
}

.photo-feed ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
