.photo-feed {
  &__promo {
    line-height: 30px;
    padding-top: 56px;
  }

  &__title {
    width: 132px;
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;
    color: white;
    background-color: #d22856;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
