.promo__wrapper {
  width: 280px;
  margin: 0 auto;
  padding-top: 400px;
}

.promo--index {
  background: url("../img/iphone-hand-mobile@1x.png") 33% 36% no-repeat;
  background-size: 256px 278px;
}

.promo__list {
  display: flex;
  justify-content: center;
  align-items: baseline;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.promo__list li {
  margin-left: 30px;
}

.promo__list li:first-child {
  margin-left: 0;
}

.promo__title {
  font-size: 24px;
  font-weight: light;
  line-height: 24px;
  margin-bottom: 27px;
  margin-top: 26px;
  color: white;
}

.promo__text {
  color: white;
  font-weight: light;
  line-height: 24px;
}

.promo--inner {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .promo__wrapper {
    width: 620px;
    margin: 0 auto;
    padding-top: 100px;
  }

  .promo--index {
    background: url("../img/iphone-hand-mobile@1x.png") 66% 66% no-repeat;
  }

  .promo__container {
    width: 300px;
  }

  .visually-hidden {
    display: block;
  }

  .promo__title {
    font-size: 40px;
    line-height: normal;
    width: 196px;
    margin: 0 auto;
  }

  .promo--inner {
    width: 620px;
  }

  .promo--inner .promo__title {
    width: 500px;
  }
}

@media (min-width: $desktop-width) {
  .promo__wrapper {
    width: 940px;
    padding-top: 133px;
  }

  .promo--index {
    background: url("../img/iphone-hand-mobile@1x.png") 77% 100% no-repeat;
    background-size: 540px;
  }

  .promo__title {
    font-size: 50px;
    line-height: normal;
    width: 231px;
    margin: 60px auto;
  }

  .promo__list {
    margin: 60px auto;
  }

  .promo--inner {
    width: 940px;
  }

  .promo--inner .promo__title {
    width: 820px;
  }
}
