.promo {
  background-color: #1d2631;
  color: white;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  background-image: url("/img/bg-back-mobile@1x.jpg");
  background-position: center;
  background-size: cover;
}

.visualy-hidden {
  display: none;
}
