.review-message {
  label{
    text-align: center;
  }
  textarea {
    font-family: inherit;
    color: inherit;
    font-size: 18px;
    border: 2px solid #e5e5e5;
    width: 280px;
    padding: inherit;
  }
}
