.slider {
  position: relative;
}

.slider input[type="radio"] {
  display: none;
}

.slider-controls {
  margin-bottom: 10px;
  text-align: center;
}

.slider-controls label {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 3px;
  background-color: #b5b9be;
  border: 3px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls--gray label {
  border: 3px solid #f2f2f2;
}

/*#button-1:checked ~ .slider-controls label[for="button-1"],
#button-2:checked ~ .slider-controls label[for="button-2"],
#button-3:checked ~ .slider-controls label[for="button-3"] {
  border: 3px solid #283645;
  background-color: #ffffff;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  border: 3px solid #283645;
  background-color: #ffffff;
} */
