.tariffs {
  background-color: #f2f2f2;
}

.tariffs__table {
  line-height: 30px;
  text-transform: uppercase;
  border-collapse: collapse;
  background-color: #ffffff;
}

.tariffs td {
  border: 2px solid #e5e5e5;
  width: 276px;
}

.tariffs__row-1 {
  background-color: #283645;
  color: white;
}

.tariffs__name {
  font-size: 18px;
  font-weight: bold;
}

.tariffs__price {
  font-size: 24px;
  font-weight: 400;
}

.tariffs__promo {
  background-color: #d22856;
}
