.user-posting {
  background-color: $gray;
}

.user-posting__promo {
  background-color: white;
}

.user-posting__btn {
  border-color: $pink;
  color: $pink;
}

.user-posting__btn--cancel {
  border-color: #dddfe0;
  color: #dddfe0;
}

.user-posting__choice {
  padding-left: 20px;
}
