.user-posting {
  background-color: #f2f2f2;
}

.user-posting__promo {
  background-color: white;
  line-height: 30px;
}

.user-posting__btn {
  border-color: #d22856;
  color: #d22856;
}

.user-posting__btn--cancel {
  border-color: #dddfe0;
  color: #dddfe0;
}
